<mat-toolbar class="subtitulo">Beneficiário {{aluno?.pessoaFisica?.nome ? (' - ' + aluno?.pessoaFisica?.nome) : ''}}</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <mat-horizontal-stepper #stepper style="background: transparent; padding: 10px">

        <!------------------ DADOS PESSOAIS ------------------------>
        <mat-step [stepControl]="formCadastroDadosPessoais">
            <form #formCadastroDadosPessoais="ngForm">
                <ng-template matStepLabel>DADOS PESSOAIS</ng-template>

                <dados-pessoais [pessoaFisica]="aluno.pessoaFisica" (pesquisaPessoaFisica)="carregarPessoaFisica($event)"></dados-pessoais>

                <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                     fxFlexFill>
                    <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </form>
        </mat-step>

        <!--  INCLUSÃO -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroAcademico">
            <form #formCadastroAcademico="ngForm">
                <ng-template matStepLabel>INCLUSÃO</ng-template>
                <academico [aluno]="aluno"></academico>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ FAMILIAR ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroFamiliar">
            <form #formCadastroFamiliar="ngForm">
                <ng-template matStepLabel>FAMILIAR</ng-template>
                <div *ngIf="responsavel">
                    <dados-pessoais-familiar-aluno [pessoaFisica]="familiar.pessoasFisica" [familiar]="familiar" [responsavel]="responsavel" (pesquisaPessoaFisica)="carregarFamiliarPessoaFisica($event)" (copiarEndereco)="copiarEnderecoBeneficiario()"></dados-pessoais-familiar-aluno>
                    <documentos-familiar-aluno [pessoaFisica]="familiar.pessoasFisica"></documentos-familiar-aluno>
                    <profissional-familiar-aluno [familiar]="familiar"></profissional-familiar-aluno>
                    <beneficio-familiar-aluno [pessoaFisica]="familiar.pessoasFisica" (calcularValor)="calcularValorRenda()"></beneficio-familiar-aluno>
                </div>
            </form>

            <div fxLayout="row" *ngIf="!responsavel" fxLayoutAlign="end center" fxLayoutGap="16px" style="padding-top: 50px">
                <div>
                    <button matTooltip="Adicionar familiar" mat-fab color="primary" (click)="addFamiliar()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayout="row" *ngIf="responsavel && !responsavel.id" fxLayoutAlign="end center" fxLayoutGap="16px" style="padding-top: 50px">
                <div>
                    <button matTooltip="Remover familiar" mat-fab color="primary" (click)="removeFamiliar()">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
        </mat-step>

        <!-- ------------------ ESCOLARIDADE ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroEscolaridade">
            <form #formCadastroEscolaridade="ngForm">
                <ng-template matStepLabel>ESCOLARIDADE</ng-template>
                <escolaridade [aluno]="aluno" [pessoaFisica]="aluno.pessoaFisica"></escolaridade>
                <escolar [pessoaFisica]="aluno.pessoaFisica"></escolar>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ DOCUMENTOS ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroDocumentos">
            <form #formCadastroDocumentos="ngForm">
                <ng-template matStepLabel>DOCUMENTOS</ng-template>
                <documentos [pessoaFisica]="aluno.pessoaFisica" [validaCPF]="false" [apresentaCPF]="false"></documentos>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ VULNERABILIDADE ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroVulnerabilidade">
            <form #formCadastroVulnerabilidade="ngForm">
                <ng-template matStepLabel>VULNERABILIDADE</ng-template>
                <vulnerabilidade-aluno [aluno]="aluno"></vulnerabilidade-aluno>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>


        <!-- OUTRAS INFORMAÇOES -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroOutrasInformacoes">
            <form #formCadastroOutrasInformacoes="ngForm">
                <ng-template matStepLabel>OUTRAS INFORMAÇÕES</ng-template>

                <atendimento-apoio [atendidoOrgaoRede]=aluno.atendidoOrgaoRede 
                                   [pessoaFisica]="aluno.pessoaFisica"
                                   [encaminhamentos]="aluno.encaminhamentos"
                                   [beneficiosSociaisPessoaFisica]="aluno.benefeciosSociaisPessoaFisica">
                </atendimento-apoio>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
        </mat-step>

         <!-- UNIFORMES -->
         <mat-step style="padding-bottom: 20px" [stepControl]="formUniformes">
            <form #formUniformes="ngForm">
                <ng-template matStepLabel>UNIFORMES</ng-template>
                <div *ngIf="aluno && aluno.atividades && aluno.atividades.length > 0">
                    <app-uniforme-aluno [aluno]="aluno"></app-uniforme-aluno>
                </div>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
        </mat-step>

        <!------------------ DADOS PESSOAIS ------------------------>
        <mat-step [stepControl]="formMatricula">
            <form #formMatricula="ngForm">
                <ng-template matStepLabel>MATRÍCULA</ng-template>
                <app-matricula-aluno [matriculas]="matriculas"></app-matricula-aluno>
            </form>
            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                    fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</div>

<!-- BOTOES -->
<div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastroDadosPessoais.invalid || formCadastroEscolaridade.invalid || formCadastroDocumentos.invalid ||
                        formCadastroOutrasInformacoes.invalid || formCadastroAcademico.invalid ||
                        formCadastroVulnerabilidade.invalid || formCadastroFamiliar.invalid || isDataResponsavelInvalida()"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastroDadosPessoais.invalid || formCadastroEscolaridade.invalid || formCadastroDocumentos.invalid ||
                        formCadastroOutrasInformacoes.invalid || formCadastroAcademico.invalid ||
                        formCadastroVulnerabilidade.invalid || formCadastroFamiliar.invalid || formUniformes.invalid || isDataResponsavelInvalida()"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoRelatorio"
            fxFlex="20%"
            color="primary"
            (click)="abrirOpcoesRelatorio()">
            Relatórios
    </button>

    <button *ngIf="mostrarBotaoLimpar()"
            mat-raised-button
            fxFlex="20%"
            (click)="limpar()">
            Limpar
    </button>
    <button
            mat-raised-button
            fxFlex="20%"
            (click)="cancelar()">
            Cancelar
    </button>

    

</div>
