<mat-toolbar class="titulopartes">Dados do Contrato</mat-toolbar>
<div fxLayout="row" fxFlexFill>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <input #numeroContrato matInput maxlength="200" name="numeroContrato" placeholder="Número Contrato :"
            [(ngModel)]="contrato.numeroContrato" required>
        <mat-hint align="end">{{numeroContrato.value.length}} / 200</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <mat-label>Tipo Contrato:</mat-label>
        <mat-select [(ngModel)]="contrato.tipoContrato" name="listaTiposContrato" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let t of listaTiposContrato" [value]="t">
                {{t.descricao}}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="listaTipoContrato?.length === 0" align="start">Nenhum tipo de contrato cadastrado</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="15%" fxFlexOffset="20px">
        <mat-label>Data Início:</mat-label>
        <input matInput name="dataInicioVigencia" [matDatepicker]="dataInicioVigencia" placeholder="Data Início"
            [(ngModel)]="contrato.dataInicioVigencia">
        <mat-datepicker-toggle matSuffix [for]="dataInicioVigencia"></mat-datepicker-toggle>
        <mat-datepicker #dataInicioVigencia></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="15%" fxFlexOffset="20px">
        <mat-label>Data Fim:</mat-label>
        <input matInput name="dataFimVigencia" [matDatepicker]="dataFimVigencia" placeholder="Data Fim"
            [(ngModel)]="contrato.dataFimVigencia">
        <mat-datepicker-toggle matSuffix [for]="dataFimVigencia"></mat-datepicker-toggle>
        <mat-datepicker #dataFimVigencia></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <input currencyMask matInput maxlength="10" name="valorContrato" placeholder="Valor:"
            [(ngModel)]="contrato.valorContrato" [options]="{ prefix: '', thousands: '.', decimal: ',' }" required />
        <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

</div>

<div fxLayout="row" fxFlexFill>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <input #numeroProcessoTecnico matInput maxlength="50" name="numeroProcessoTecnico"
            placeholder="Número Processo Técnico:" [(ngModel)]="contrato.numeroProcessoTecnico">
        <mat-hint align="end">{{numeroProcessoTecnico.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <input #numeroProcessoGestao matInput maxlength="50" name="numeroProcessoGestao"
            placeholder="Número Processo de Gestão:" [(ngModel)]="contrato.numeroProcessoGestao">
        <mat-hint align="end">{{numeroProcessoGestao.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="20%" fxFlexOffset="20px">
        <input #numeroProcessoPagamento matInput maxlength="50" name="numeroProcessoPagamento"
            placeholder="Número Processo Financeiro:" [(ngModel)]="contrato.numeroProcessoPagamento">
        <mat-hint align="end">{{numeroProcessoPagamento.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" fxFlex="50%" fxFlexOffset="20px">
        <mat-label>Empresa:</mat-label>
        <mat-select [(ngModel)]="contrato.empresa" name="listaEmpresas" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let e of listaEmpresas" [value]="e">
                {{e.nomeRazaoSocial}}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="listaEmpresa?.length === 0" align="start">Nenhuma empresa cadastrada</mat-hint>
    </mat-form-field>

</div>

<div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

    <mat-form-field style="margin: 0 0 0 20px" fxFlex="100%" appearance="outline">
        <mat-label>Objeto:</mat-label>
        <textarea #descricaoObjetoContrato matInput name="descricaoObjetoContrato"
            [(ngModel)]="contrato.descricaoObjetoContrato" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="8" maxlength="500"></textarea>
        <mat-hint align="end">{{descricaoObjetoContrato.value.length}} / 500</mat-hint>
    </mat-form-field>

</div>

<div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

    <mat-form-field style="margin: 0 0 0 20px" fxFlex="100%" appearance="outline">
        <mat-label>Meta Quantitativa:</mat-label>
        <textarea #descricaoMetaQuantitativa matInput name="descricaoMetaQuantitativa"
            [(ngModel)]="contrato.descricaoMetaQuantitativa" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="8" maxlength="500"></textarea>
        <mat-hint align="end">{{descricaoMetaQuantitativa.value.length}} / 500</mat-hint>
    </mat-form-field>

</div>